body {

    font-family: Arial;
    background-color: #f4f4f4;
}

.container {

    width: 500px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

textarea {

    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button {

    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {

    background: #0056b3;
}

#result {

    margin-top: 20px;
}
